{% extends 'base.html' %}

{% block title %}About Us{% endblock title %}


{% block image %}
<div class="container-fluid my-0 px-0">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <!-- <img src="https://source.unsplash.com/random/1600x600/?dark" class="d-block w-100" alt="..."> -->
                <img src="/static/9.jfif" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block py-5 my-5">
                    <h5>
                        Hello fellow visitor!
                    </h5>
                    <p>
                        Are you intersted in knowing about me? 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock image %}
{% block body %}
<br>
<center>
    <h1>
        About Me
    </h1>
    <p style="margin: 0% 10%;">
        Hi! My name is Ayush Kumar Baranwal and this awesome mailing site is created by me. I am a third
        year students at the department of chemical engineering at IIT Delhi. My hobbies include playing
        video games, playing basketball, watching anime, etc. I am a cheerful person who is very
        passionate
        about web and video game development and also video games in general.
    </p>
</center>
{% endblock body %}