{% extends 'base.html' %}

{% block title %}Send Dmail{% endblock title %}

{% block head %}
<style>
    .form-floating {
        width: 200px;
        margin: auto;
    }

    .form-floating1 {
        width: 80%;
        margin: auto;
    }

    /* body {
        background-color: #f5f5f5;
    } */
</style>
{% endblock head %}

{% block image %}

{% endblock image %}

{% block body %}
<form method="POST" action="">
    {% csrf_token %}
    <br>
    <center>
        <h1>Send Dmail</h1>
    </center>
    <div class="form-floating m4">
        <input class="form-control" name="touser" autocomplete="off" list="datalistOptions" id="floatingInput"
            placeholder="Type to search..." value={{reply.fromuser}}>
        <label for="floatingInput" class="form-label">To</label>
        <datalist id="datalistOptions">
            {% for contact in contacts %}
            <option value={{contact.username}}>
                {% endfor %}
        </datalist>
    </div>


    <br />
    <div class="form-floating">
        {% if reply.touser != null %}
            {% if reply.subject.0 != 'R' or reply.subject.1 != 'e' or reply.subject.2 != ':' %}
            <input type="text" class="form-control" id="floatingInput" name="subject" placeholder="Subject"
                value="Re: {{reply.subject}}">
            {% endif %}
            {% if reply.subject.0 == 'R' and reply.subject.1 == 'e' and reply.subject.2 == ':' %}
            <input type="text" class="form-control" id="floatingInput" name="subject" placeholder="Subject"
                value="{{reply.subject}}">
            {% endif %}
        {% endif %}
        {% if reply.touser == null %}
        <input type="text" class="form-control" id="floatingInput" name="subject" placeholder="Subject">
        {% endif %}
        <label for="floatingPassword">Subject</label>
    </div>
    <br />
    <center>
        <label for="floatingTextarea">Body</label>
    </center>
    <div class="form-floating1">
<textarea class="form-control" name="body" placeholder="Write the message to be sent" id="floatingTextarea" style="height: 300px;">{% if reply.touser != null %}


-------- Original Message --------
Subject: {{reply.subject}}
Date: {{reply.date}}
From: {{reply.fromuser}}
To: {{reply.touser}}

{{reply.body}}
{% endif %}</textarea>
    </div>
    <br>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" style="width: 100px; margin: auto;" type="submit">Submit</button>
    </div>
    <br>
    <center>
        <p class="mt-5 mb-3 text-muted">© 2022–2022</p>
    </center>

</form>
{% endblock body %}